body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100vh;
  overflow-y: auto;
}

.anyblock {
  height: 100vh;
}

.select {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;

  margin: 0 300px;
}

.select-label {
  color: #9C9C9C;
  font-size: 12px;
  line-height: 1.4;
  margin-right: 8px;
}

.select-text {
  color: #333;
  font-size: 12px;
  line-height: 1.4;
}

.select-arrow {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  background-color: #333;
}

.option-list {
  background: #292E36;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none;
  touch-action: none;
}

.option-list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 15px;
  color: white;
  cursor: pointer;
}

.option-arrow {
  width: 10px;
  height: 10px;
  margin-right: 4px;
  background-color: #333;
}

.option.is-active {
  background: #2BBBDC;
}

.dropdown-arrow {
  position: absolute;
  height: 10px;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: red;
}

.arrowTop {
  top: 0;
}

.arrowBottom {
  bottom: 0;
}